<h1>Create New Article</h1>

<form action='/articles/create' method='POST'>
	Body:
	<textarea rows='5' cols='30' name='article[body]' id=''></textarea>
	Tagline:
	<input type='text' name='article[tagline]' value=''>
	Submitter:
	<input type='text' name='article[submitter]' value=''>
	<button type='submit'>Create</button>
</form>