<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
	</head>

	<body>
		<p>
			This is the layout, and the erb insert is yielded to below.
		</p>

		<div>
			<%= insert %>
		</div>

		<p>
			This is the layout, and the erb insert is yielded to above.
		</p>
	</body>
</html>